@model CategoryNavigationModel
@using Nop.Web.Models.Catalog;

@*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>*@
<script src="//cdn.rawgit.com/tonystar/bootstrap-hover-tabs/v3.1.1/bootstrap-hover-tabs.js"></script>



@functions{
    public bool BreadCrumbContainsCurrentCategoryId(CategorySimpleModel category)
    {
        if (Model.CurrentCategoryId == 0)
            return false;

        if (category.Id == Model.CurrentCategoryId)
            return true;

        foreach (var subCategory in category.SubCategories)
        {
            if (BreadCrumbContainsCurrentCategoryId(subCategory))
            {
                return true;
            }
        }

        return false;
    }
}

@helper RenderCategoryLineSidebar(CategorySimpleModel category)
{
    bool active = category.Id == Model.CurrentCategoryId || category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0;
    bool last = category.Id == Model.CurrentCategoryId;
    string liClass = active ? "active" : "inactive";

    if (last)
    {
        liClass += " last";
    }

    <li class="listItemB"><a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" class="@liClass"> <img alt="icon" src="~/Content/Images/dot menu.png"> @category.Name</a></li>

    if (category.Id == Model.CurrentCategoryId ||
        category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0)
    {
        if (category.SubCategories.Count > 0)
        {
            <ul class="sublist">
                @foreach (var subCategory in category.SubCategories)
                {
                    @RenderCategoryLine(subCategory)
                }
            </ul>
        }
    }
}


@*untuk yang category shop*@
@helper RenderCategoryLine(CategorySimpleModel category)
{
    bool active = category.Id == Model.CurrentCategoryId || category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0;
    bool last = category.Id == Model.CurrentCategoryId;
    string liClass = active ? "active" : "inactive";

    if (last)
    {
        liClass += " last";
    }

    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" class="@liClass dropdown-item"> @category.Name</a>
}

@*untuk yang category collection*@
@helper RenderCategoryLineCollection(CategorySimpleModel category)
{
    bool active = category.Id == Model.CurrentCategoryId || category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0;
    bool last = category.Id == Model.CurrentCategoryId;
    string liClass = active ? "active" : "inactive";

    if (last)
    {
        liClass += " last";
    }

    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" class="@liClass dropdown-item"> @category.Name</a>
}


@helper RenderCategoryMobile(CategorySimpleModel category)
{
    bool active = category.Id == Model.CurrentCategoryId || category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0;
    bool last = category.Id == Model.CurrentCategoryId;
    string liClass = active ? "active" : "inactive";

    if (last)
    {
        liClass += " last";
    }
    <li><a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a></li>

}

@helper RenderCategoryMobileCollection(CategorySimpleModel category)
{
    bool active = category.Id == Model.CurrentCategoryId || category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0;
    bool last = category.Id == Model.CurrentCategoryId;
    string liClass = active ? "active" : "inactive";

    if (last)
    {
        liClass += " last";
    }
    <li><a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a></li>
}


@{
    var liCollapse = (Model.CurrentCategoryId > 0) ? "" : "collapse";
    var parentId = (ViewBag.isMobile != null) ? "phmenu-mobile" : "phmenu";
    var divId = (ViewBag.isMobile != null) ? "shop-mobile" : "shop";

}





@*desktop - mousover type*@
@{
    var issidebar = (ViewBag.isSidebar == null) ? false : Convert.ToBoolean(ViewBag.isSidebar);

    if (!issidebar)
    {
        if (Model.Categories.Count > 0)
        {
            foreach (var category in Model.Categories)
            {
                if (category.SubCategories.Any())
                {
                    @*<div class="dropdown">
                            <a class="nav-item" href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name.ToUpper()</a>
                            <div class="dropdown-content  c-@category.SeName">
                                @foreach (var subcat in category.SubCategories)
                                {
                                    <a href="@Url.RouteUrl("Category", new { SeName = subcat.SeName })">@subcat.Name</a>
                                    if (subcat.SubCategories.Any())
                                    {
                                        <div class="sub-dropdown">
                                            @foreach (var subsubcat in subcat.SubCategories){
                                                <a href="@Url.RouteUrl("Category", new { SeName = subsubcat.SeName })">@subsubcat.Name</a>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>*@

                    <div class="dropdown pr-5">
                        <a class="" href="#" data-toggle="collapse" data-target="#collapse-@category.SeName" aria-expanded="false" aria-controls="collapse-@category.SeName">@category.Name.ToUpper()</a>
                        @foreach (var subcat in category.SubCategories)
                        {
                            <div class="subcat d-none" id=""><a href="@Url.RouteUrl("Category", new { SeName = subcat.SeName })">@subcat.Name</a></div>
                        }

                        <div class="dropdown-bar  w-100 d-none d-md-block" style="">
                            <div class="dropdown-bar-content d-flex flex-column text-center">
                                <!-- Nav pills -->
                                <ul class="nav nav-pills d-flex justify-content-center">

                                    @{
                                        var x1 = "active";

                                        for (int i = 0; i < category.SubCategories.Count; i++)
                                        {
                                            var subcat = category.SubCategories[i];

                                            if (i > 0)
                                            {
                                                x1 = "";
                                            }
                                            
                                            <li class="pr-4 pl-4 @x1"><a href="@Url.RouteUrl("Category", new { SeName = subcat.SeName })" data-target="#tab-@i" data-hover="tab">@subcat.Name</a></li>
                                        }
                                    }
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content well">
                                    @{
                                        int counter = 0;
                                        string cssActive;
                                        foreach (var subsubcat in category.SubCategories)
                                        {
                                            cssActive = "";
                                            if (subsubcat.SubCategories.Any())
                                            {
                                                if (counter == 0)
                                                {
                                                    cssActive = "active";
                                                }

                                                @RenderSubCategory(counter, cssActive, subsubcat)
                                            }

                                            counter++;
                                        }
                                    }

                                    @*<div class="tab-pane active" id="tab-1">
                                        <div class="row pt-4">
                                            <div class="col-5"></div>

                                            <div class="col-1 d-flex flex-column text-left mon-medium">
                                                <a href="#"><span class="sublink">DRESSES</span></a>
                                                <a href="#"><span class="sublink">TOPS</span></a>
                                                <a href="#"><span class="sublink">BOTTOMS</span></a>
                                                <a href="#"><span class="sublink">KNITS</span></a>
                                                <a href="#"><span class="sublink">OUTWEARS</span></a>
                                                <a href="#"><span class="sublink">SWIM</span></a>
                                                <a href="#"><span class="sublink">ACCESSORIES</span></a>
                                            </div>
                                            <div class="col-2 d-flex justify-content-start">
                                                <img src="~/content/images/uploaded/homepage/submenu.png" class="img-fluid" style="width:113px;height:168px" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab-2">
                                        <div class="row pt-4">
                                            <div class="col-5"></div>

                                            <div class="col-1 d-flex flex-column text-left mon-medium">
                                                <a href="#"><span class="sublink">DRESSES2</span></a>
                                                <a href="#"><span class="sublink">TOPS2</span></a>
                                                <a href="#"><span class="sublink">BOTTOMS2</span></a>
                                                <a href="#"><span class="sublink">KNITS2</span></a>
                                                <a href="#"><span class="sublink">OUTWEARS2</span></a>
                                                <a href="#"><span class="sublink">SWIM2</span></a>
                                                <a href="#"><span class="sublink">ACCESSORIES2</span></a>
                                            </div>
                                            <div class="col-2 d-flex justify-content-start">
                                                <img src="~/content/images/uploaded/homepage/submenu.png" class="img-fluid" style="width:113px;height:168px" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab-3">
                                        <div class="row pt-4">
                                            <div class="col-5"></div>

                                            <div class="col-1 d-flex flex-column text-left mon-medium">
                                                <a href="#"><span class="sublink">DRESSES3</span></a>
                                                <a href="#"><span class="sublink">TOPS3</span></a>
                                                <a href="#"><span class="sublink">BOTTOMS3</span></a>
                                                <a href="#"><span class="sublink">KNITS3</span></a>
                                                <a href="#"><span class="sublink">OUTWEARS3</span></a>
                                                <a href="#"><span class="sublink">SWIM3</span></a>
                                                <a href="#"><span class="sublink">ACCESSORIES3</span></a>
                                            </div>
                                            <div class="col-2 d-flex justify-content-start">
                                                <img src="~/content/images/uploaded/homepage/submenu.png" class="img-fluid" style="width:113px;height:168px" />
                                            </div>
                                        </div>
                                    </div>*@
                                  
                                </div>
                            </div>

                        </div>
                    </div>

                }
                else
                {
                    <div><a class="nav-item" href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name.ToUpper()</a></div>
                }
            }

            @*<ul class="list-unstyled list-inline hidden-xs hidden-sm">

                    @foreach (var category in Model.Categories)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropbtn">@category.Name</a>
                            <div class="dropdown-content">
                                @if (category.SeName.Equals("shop", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" class="dropdown-item">Shop All</a>
                                    <a href="~/new-arrivals" class="dropdown-item">New Arrivals</a>

                                }

                                @foreach (var subcat in category.SubCategories)
                                {
                                    @RenderCategoryLine(subcat)
                                }
                            </div>
                        </li>

                    }


                </ul>*@

            @*Mobile Version*@
            @*<ul class="hidden visible-xs visible-sm left">
                @foreach (var category in Model.Categories)
                {


                    <li class="dropright dropright-list">
                        <a href="#" class="menu-right-mobile">@category.Name</a>
                        <ul class="dropright-drop">
                            @if (category.SeName.Equals("shop", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" class="dropdown-item">Shop All</a>
                                <a href="~/new-arrivals" class="dropdown-item">New Arrivals</a>
                            }

                            @foreach (var subcat in category.SubCategories)
                            {
                                @RenderCategoryMobile(subcat)
                            }

                        </ul>
                    </li> }
                </ul>*@
        }

    }
    else
    {
        @*sidebar*@
        if (Model.Categories.Count > 0)
        {
            var menu1 = Model.Categories.OrderByDescending(x => x.Id).ToList();
            <ul class="sidebar-menu list-unstyled" id="pop-sidebar-menu">
                @foreach (var category in menu1)
                {
                    var cssCategoryActief = "inactive";
                    if (Model.CurrentCategoryId == category.Id)
                    {
                        cssCategoryActief = "active";
                    }

                    if (category.SeName.Equals("shop", StringComparison.OrdinalIgnoreCase))
                    {
                        //skip category
                        cssCategoryActief = "inactive";
                        if (Model.CurrentCategoryId == category.Id)
                        {
                            cssCategoryActief = "active";
                        }

                        <li class="list-group-item panel hidden-xs hidden-sm">
                            <a class="inactive" data-parent="#pop-sidebar-menu"></a>
                            <div class="list-group-submenu dropdown-container"><hr /></div>
                        </li>
                        <li class="list-group-item panel"><a class="@cssCategoryActief" href="~/shop">Shop All</a></li>
                        <li class="list-group-item panel"><a class="inactive" href="~/new-arrivals">New Arrivals</a></li>
                        foreach (var subcategory in category.SubCategories)
                        {
                            var cssSubCategoryActief = "inactive";
                            if (subcategory.Id == Model.CurrentCategoryId)
                            {
                                cssSubCategoryActief = "active";
                            }
                            <li class="list-group-item panel"><span><a class="@cssSubCategoryActief" href="~/@subcategory.SeName">@subcategory.Name</a></span></li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item panel">
                            <a class="@cssCategoryActief" href="#@category.SeName" data-toggle="collapse" data-parent="#pop-sidebar-menu">@category.Name</a>
                            <div class="list-group-submenu dropdown-container" id="@category.SeName">
                                <hr />


                                @foreach (var subcategory in category.SubCategories)
                                {
                                    var cssSubCategoryActief = "inactive";
                                    if (subcategory.Id == Model.CurrentCategoryId)
                                    {
                                        cssSubCategoryActief = "active";
                                    }

                                    <span><a class="@cssSubCategoryActief" href="~/@subcategory.SeName">@subcategory.Name</a></span>
                                }
                            </div>
                        </li>
                    }

                }
            </ul>



         


    }

}
}



@helper RenderSubCategory(int id, string cssActive, CategorySimpleModel item)
{


    <div class="tab-pane @cssActive" id="tab-@id">
        @*<div class="row pt-4">
            <div class="col-5 mr-5"></div>

            <div class="col-1 ml-5 pl-4 d-flex flex-column text-left mon-medium">
                @if (item.SubCategories.Any())
                {
                    foreach (var subItem in item.SubCategories)
                    {
                        <a href="@Url.RouteUrl("Category", new { SeName = subItem.SeName })"><span class="sublink">@subItem.Name</span></a>
                    }
                }

            </div>

        </div>*@

        <div class="container d-flex justify-content-center pt-4">
            <div class="flex-column text-left mon-medium">
                @if (item.SubCategories.Any())
                {
                    foreach (var subItem in item.SubCategories)
                    {
                        <a href="@Url.RouteUrl("Category", new { SeName = subItem.SeName })"><span class="sublink">@subItem.Name</span></a>
                    }
                }

            </div>

        </div>
      


    </div>

}