@model MiniShoppingCartModel
@using Nop.Web.Models.ShoppingCart;




<!--collapse bag cart-->
<div style="height: 100%;" class="flyout-cart" id="flyout-cart">
  <div id="bagcart">
    <div id="collapsed-cart">
      <div class="p-4" style="width: 100%; height: 82%;">
        <span style="color: black; font-size: 22px;">Your Bag</span>
        <span class="close" data-dismiss="aside" aria-hidden="true">&times;</span>
        <hr style="border-top: 2px solid black;">
        @if (Model.TotalProducts == 0)
        {
          <div class="text-center mt-5">
            @T("ShoppingCart.Mini.NoItems")
          </div>
        }

        @if (Model.TotalProducts > 0) {
          <div class="inner p-1 items scroll-cart scroll--simple" style="height: 65vh;">
            @for (int i = 0; i < Model.Items.Count; i++)
            {
              var item = Model.Items[i];
              <div class="row item @(i == 0 ? "first" : null)">
                <div class="col-8">

                  <div class="product text-left d-flex justify-content-between">
                    <div class="">
                      <div class="name"><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" style="">@item.ProductName</a></div>
                      <div class="d-flex flex-column justify-content-between">
                        <div><label>QTY : </label><span> @item.Quantity</span> </div>
                        <div class="price"><span>@item.UnitPrice</span></div>

                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-4 text-left d-flex">
                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
                      <img class="img-fluid" alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                    </a>
                </div>
              </div>
              if (i+1 != Model.Items.Count) {
                <hr>
              }
            }
          </div>
        }
      </div>

      @if (Model.TotalProducts > 0) {
        <div class="p-4" style="position: absolute; bottom: 0; background-color: lightgray; width: 100%">
          <div class="cart-total">
            <div>
              <p style="color: black; margin: 0; font-size: 22px; font-weight: bold;">Subtotal</p>
              <p style="margin: 0; font-size: 10px;">SHIPPING & TAXES CALCULATED AT CHECKOUT</p>
            </div>
            <span style="color: black; font-size: 20px; font-weight: bold;">@Model.SubTotal</span>
          </div>

          @if (Model.DisplayShoppingCartButton)
          {
            <input type="button" value="VIEW ALL ITEMS" style="background-color: black; color white;" class="btn btn-default btn-block mt-2" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')" />

          }

          @{
            
            var checkoutUrl = "";
            if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
            {
              checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
            }
            else
            {
              checkoutUrl = Url.RouteUrl("Checkout");
            }
            
          }
        </div>
      }
    </div>
  </div>

</div>
<!--end of collapse bag cart-->

<script>
	//console.log(`CART`);
	var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
	//console.log(model);    
</script>



