@model ProductDetailsModel
@using Nop.Core
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Models.Catalog;
@{
  //Layout = "~/Views/Shared/_LayoutTwo.cshtml";

  //title, meta
  Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
  Html.AddMetaDescriptionParts(Model.MetaDescription);
  Html.AddMetaKeywordParts(Model.MetaKeywords);

  var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

  //canonical URL
  if (seoSettings.CanonicalUrlsEnabled)
  {
    var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
    Html.AddCanonicalUrlParts(productUrl);
  }

  //open graph META tags
  if (seoSettings.OpenGraphMetaTags)
  {
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
    Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
    Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
    Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
    Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
    Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(storeName) + "\" />");
  }

  //Twitter META tags
  if (seoSettings.TwitterMetaTags)
  {
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
    Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
    Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(storeName) + "\" />");
    Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
    Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
    Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
    Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
  }
  var Height = Math.Round(Model.Height, 1);
  var Weight = Math.Round(Model.Weight, 1);
  var Width = Math.Round(Model.Width, 1);
  var Length = Math.Round(Model.Length, 1);
  string[] brands = Model.Brand != null ? Model.Brand.Split(';') : null;
  string Brands = brands != null ? brands[1].ToUpper() : null;
}




<div class="container product-detail" style="margin-top: -1%;">
  <div class="row" style="margin-top: 5%;">
    <div class="col-12 col-sm-7 col-md-7">
      @Html.Partial("_ProductDetailsPictures", Model)
    </div>

    <div class="col-12 col-sm-5 col-md-5 p-4">
      @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
        {
          <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id" style="margin-top: 5%;">

            <p class="m-0" style="font-size: 14px;">@Brands</p>
            <h1 itemprop="name" style="margin-bottom: 1%; font-style: italic;">@Model.Name</h1>
            @{
              var dataDictPrice = new ViewDataDictionary();
              dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
              
              @* TESTING *@
              @* Model.AddToCart.AvailableForPreOrder = true; *@

              if (Model.AddToCart.AvailableForPreOrder) {
                <div class="description pb-2" style="color: black;">
                  PRE-ORDER
                </div>
              } else {
                @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)
              }
            }

            <hr class="pb-2" style="margin: 0; border-top: 1px solid;">
            <div class="description pb-2" style="color: black;">
              @Model.ShortDescription
            </div>

            @{
              //notify me if oos
              var totalstock = 0;
              if (Model.ProductAttributeCombinations != null) {
                totalstock = 1;
              } else {
                foreach (var pa in Model.ProductAttributes)
                {
                  foreach (var s in pa.Values)
                  {
                    totalstock += s.VariantStockQuantity;
                  }
                }
              }

            @* logic AvailableForPreOrder *@
              if (totalstock >= 1)
              {
                <div class="row no-gutters">
                  @if (Model.ProductAttributeCombinations.Count() > 0) {
                    <div class="col-12" style="border-top: 1px solid black; border-bottom: 1px solid black;">
                      @{
                        var dataDictAttributes = new ViewDataDictionary();
                        dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                        @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)}
                    </div>
                  } else {
                    <div class="col-12" style="border-top: 1px solid;">
                      @{
                        var dataDictAttributes = new ViewDataDictionary();
                        dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                        @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)}
                    </div>
                  }
                  @{
                    var dataDictAddToCart = new ViewDataDictionary();
                    dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                    @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
                  }
                  
                </div>

                @* description 2 *@
                <div class="row no-gutters">
                  <div class="col-12 col-md-12 col-sm-12">
                    <div id="accordionpProductMenu" aria-multiselectable="true">
                      @* detail *@
                      <div class="row">
                        <div class="col-12 pt-2">
                          <div class="py-2 head-prod-detail" role="tab" id="HeadingDescriptionOne">
                            <h1 style="font-weight: bold; font-size: 16px; font-style: italic;">
                              <a class="acc-prod-detail" style="font-weight: bold; font-size: 16px;" role="button" data-toggle="collapse" href="#collapseDescriptionOne" aria-expanded="false" aria-controls="collapseDescriptionOne">
                                Details
                              </a>
                            </h1>
                          </div>
                          <div data-parent="#accordionpProductMenu" id="collapseDescriptionOne" class="ml-2 p-2 collapse show" role="tabpanel" aria-labelledby="HeadingDescriptionOne" >
                            <div style="margin-left: 2%">
                              @Html.Raw(Model.FullDescription)
                            </div>
                          </div>
                        </div>
                      </div>

                      @* dimensions *@
                      @* <div class="row">
                        <div class="col-12 pt-2 head-prod-detail">
                          <div class="py-2" role="tab" class="dimension-prod-detail" id="HeadingDescriptionTwo" style="border-top: 1px solid black">
                            <h1 style="font-weight: bold; font-size: 16px; font-style: italic;">
                              <a class="acc-prod-detail collapsed" style="font-weight: bold; font-size: 16px;" role="button" data-toggle="collapse" href="#collapseDescriptionTwo" aria-expanded="false" aria-controls="collapseDescriptionTwo">
                                Dimensions
                              </a>
                            </h1>
                          </div>
                          <div data-parent="#accordionpProductMenu" id="collapseDescriptionTwo" class="ml-2 p-2 collapse" role="tabpanel" aria-labelledby="HeadingDescriptionTwo" >
                            <ul style="margin-left: 2%">
                              <li>Height&nbsp;:&nbsp;@Height &nbsp;cm.</li>
                              <li>Weight&nbsp;:&nbsp;@Weight &nbsp;kg.</li>
                              <li>Width&nbsp;:&nbsp;@Width &nbsp;cm.</li>
                              <li>Length&nbsp;:&nbsp;@Length &nbsp;cm.</li>
                            </ul>
                          </div>
                        </div>
                      </div> *@

                      @* shipping and installation *@
                      <div class="row">
                        <div class="col-12 pt-2 head-prod-detail">
                          <div class="py-2" role="tab" class="dimension-prod-detail" id="HeadingDescriptionThree" style="border-top: 1px solid black;">
                            <h1 style="font-weight: bold; font-size: 16px; font-style: italic;">
                              <a class="acc-prod-detail collapsed" style="font-weight: bold; font-size: 16px;" role="button" data-toggle="collapse" href="#collapseDescriptionThree" aria-expanded="false" aria-controls="collapseDescriptionThree">
                                Shipping and Installation
                              </a>
                            </h1>
                          </div>
                          <div data-parent="#accordionpProductMenu" id="collapseDescriptionThree" class="ml-2 p-2 collapse" role="tabpanel" aria-labelledby="HeadingDescriptionThree">
                            <div style="margin-left: 2%">
                              <p><strong>SHIPPING METHOD</strong></p>
                              <p>We provide FREE DELIVERY service to any cities within Indonesia. As certain product require special handling shipment, we will only arrange goods delivery with our trusted courrier partner.</p>
                              <p><strong>DELIVERY DATE</strong></p>
                              <p>All orders can only be delivered after receiving full payment. Once we receive full payment, we will contact you to arrange delivery.</p>
                              <p>Ready items are ready to ship within 7 days.&nbsp;</p>
                              <p>For indent items, production and delivery usually take 4-6 months upon confirmed order.&nbsp; However, we are not responsible for any delays incurred due to circumstances that are beyond our control such as change in shipments and customs clearance regulations.</p>
                              <p><strong>STORAGE </strong></p>
                              <p>In the situation that your site is not ready to receive the goods, we can offer free storage service at our warehouse for 3 months maximum.&nbsp;<strong>After 3 months, as the warehouse is not the best location&nbsp;to maintain the quality standard of the goods, we will no longer be responsible for any damage or quality issues.</strong></p>
                              <p><strong>LOADING AND INSTALLATION</strong></p>
                              <p>Loading and installation should be arranged by customers. Our technician team will only be available to support on installation guideline, on-site supervision and after sales visit</p>
                              <p>We are not responsible to make sure that the goods purchased can fit into their intended location, unless customer already consult with us.</p>
                            </div>
                          </div>
                          <div class="p-2" style="border-bottom: 1px solid black; margin-top: -3%"></div>
                        </div>
                      </div>

                      @* Sosmed *@
                      @* <div class="row">
                        <div class="col-12 pt-2">
                          <div class="p-2" role="tab" id="HeadingDescriptionThree">
                            <a style="font-weight: bold; font-size: 16px;">
                              SHARE
                            </a>
                            <a style="margin-left: 34px;" href="//www.instagram.com/parklonindoensia"><img style="margin-top: -7px;" src="~/Themes/v1/Content/images/instagram icon.jpg" /></a>
                            <a style="margin-left: 10px;" href="#"><img style="margin-top: -7px;" src="~/Themes/v1/Content/images/fb-icon.jpg" /></a>
                          </div>
                        </div>
                      </div> *@
                    </div>
                  </div>
                </div>
                @* <div class="row no-gutters py-2">
                  @if (!Model.AddToCart.AvailableForPreOrder) {
                    <h1 style="font-weight: bold; font-size: 16px; font-style: italic;">Do you require any further assistance?</h1>
                    <a href="https://wa.me/628111459933">
                      <img src="~/Themes/v1/Content/images/wa-product.png" style="margin-top: 5px;">
                    </a>
                  }
                </div> *@
              }
              else
              {
                <!--Back in stock subscription-->
                @*@Html.Partial("_BackInStockSubscription", Model)*@

                <p class="out-of-stock" style="font-style:italic;">
                  Sorry, this product is completely Sold Out
                </p>

              }
            }
            
          </div>
        }
    </div>
  </div>
  


</div>

@* Related Products Desktop *@
@Html.Action("RelatedProducts", "Product", new {productId = Model.Id})

  <script>
    
    $(document).ready(function () {
      $('.carousel').carousel({
        touch: true
      });

    });

  </script>
  <link rel="stylesheet" type="text/css" href="~/Scripts/app/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="~/Scripts/app/slick/slick-theme.css">
  <link href="~/Themes/v1/Content/homepage.css" rel="stylesheet" />
  <script src="~/Scripts/app/slick/slick.js" type="text/javascript" charset="utf-8"></script>
  <script>
    $(document).ready(function () {
      $('.carouselhero').slick({
        slidesToShow: 1,
        dots: false,
        centerMode: false,
        arrows: false,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
    $(document).ready(function () {
      $('.carouselhero2').slick({
        slidesToShow: 1,
        dots: false,
        centerMode: false,
        arrows: false,
      });
    });
    $(document).ready(function () {
      $('.carouseldesktoprelated').slick({
        slidesToShow: 4,
        dots: false,
        centerMode: false,
      });
    });
    $(document).ready(function () {
      $('.carouselmobile').slick({
        slidesToShow: 3,
        dots: false,
        centerMode: false,
        arrows: false,
      });
    });

    $('.prevslider').click(function () {
      $('.carouseldesktoprelated').slick('slickPrev');
    })

    $('.nextslider').click(function () {
      $('.carouseldesktoprelated').slick('slickNext');
    })

    $('.left').click(function () {
      $('.carouselmobile').slick('slickPrev');
    })

    $('.right').click(function () {
      $('.carouselmobile').slick('slickNext');
    })

    $('.add').click(function () {
      if ($(this).prev().val() < 9) {
        $(this).prev().val(+$(this).prev().val() + 1);
      }
    });
    $('.sub').click(function () {
      if ($(this).next().val() > 1) {
        if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
      }
    });

    function btnclick() {
      if ($(".btn-addcart").innerHTML == "ADD TO BAG") {
        $(".btn-addcart").innerHTML = "✓ SEE BAG";
      }
      else {
        $(".btn-addcart").innerHTML = "ADD TO BAG";
      }
    }
    //console.log(`PRODUCT DETAIL`);
    var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    //console.log(model);    
  </script>
