@model ContactUsModel
@using Nop.Web.Models.Common;
@{

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
}

@*<section class="col-main">
    <h1>@T("PageTitle.ContactUs")</h1>
    @Html.Action("TopicBlock", "Topic", new { systemName = "ContactUs" })
</section>
<br /><br />*@


@*Contact form*@
<div class="col-main-sml">
    <div class="page-content text-center">
        <div class="contactus">
            <div class="contactus_top">
                @Html.Action("TopicBlock", "Topic", new { systemName = "ContactUs" })
            </div>
            <br />
            <div class="contactus_bottom">
                @if (Model.SuccessfullySent)
            {
                    <div class="result text-center">
                        @Model.Result
                    </div>
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="message-error">
                            @Html.ValidationSummary(true)
                        </div>
                        <div class="fieldset">
                            
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.FullName)*@ @Html.ValidationMessageFor(model => model.FullName)
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control contactus-form", placeholder = T("Your name") })
                            </div>
                                <div class="form-group">

                                    @*@Html.LabelFor(model => model.Email)*@ @Html.ValidationMessageFor(model => model.Email)
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control contactus-form", placeholder = T("Your E-mail") })
                                </div>
                          


                            @if (Model.SubjectEnabled)
                            {
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.Subject)*@ @Html.ValidationMessageFor(model => model.Subject)
                                @Html.TextBoxFor(model => model.Subject, new { @class = "form-control contactus-form", placeholder = T("ContactUs.Subject.Hint")})

                            </div>
                            }

                            <div class="form-group contactus-form">
                                @*@Html.LabelFor(model => model.Enquiry, new { @class = "control-label" }, " *")*@ @Html.ValidationMessageFor(model => model.Enquiry)
                                @Html.TextAreaFor(model => model.Enquiry, new { @class = "enquiry form-control", placeholder = T("Your message")})
                            </div>

                            @if (Model.DisplayCaptcha)
                            {
                                <div class="captcha-box">
                                    @Html.Raw(Html.GenerateCaptcha())
                                </div>
                            }

                            <div class="buttons pull-right mt-30">
                                <button type="submit" name="send-email" class="btn btn-default" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Sending...">Send</button>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>

    </div>
</div>





    @section Left{

    }

    @section scripts{

        @Scripts.Render("~/bundles/jqueryval")
    }
