@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;

@{
  string absolutepath = HttpContext.Current.Request.Url.AbsolutePath;
}

<footer data-section-name="footer" style="border-top: 1px solid black; color: black;">
  @* desktop *@
  <div class="d-none d-md-block hidden-sm hidden-xs">
    @* logo *@
    <div class="row m-1 mt-4" style="padding-left: 3% !important;">
      <div class="col-12 col-sm-12 col-md-12" style="display: flex; justify-content: center; align-items: center;">
        <a href="~/">
          <img src="~/Themes/v1/Content/images/logo.svg" class="brandImage" />
        </a>
      </div>
    </div>

    <div class="row m-1 mt-4" style="padding-left: 3% !important;">
      @* about *@
      <div class="col-12 col-md-4">
        <h3 style="font-size: 14px; font-weight: bold; font-style: italic; margin-bottom: 7px;">Services</h3>
        <div class="row m-0">
          <div class="col-12 col-md-6 m-0 p-0" style="line-height: 1.8rem;">
            @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
            {
              <a style="font-size: 12px;" href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a> <br>
            }
          </div>
          <div class="col-12 col-md-6 m-0 p-0" style="line-height: 1.8rem;">
            @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
            {
              <a style="font-size: 12px;" href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a> <br>
            }
          </div>
        </div>
      </div>

      @* help *@
      <div class="col-12 col-md-4 text-center">
        <h3 style="font-size: 16px; font-weight: bold; font-style: italic; margin-bottom: 7px;">Get in touch with us for any enquiry</h3>
        <a href="https://wa.me/628111459933" style="font-size: 20px; text-decoration: none; color: black;"><img src="~/Themes/v1/Content/images/wa.svg" />&nbsp;+62 811-1459-933</a>
      </div>

      @* mailing list *@
      <div class="col-12 col-md-4">
        <h3 style="padding-left: 10%; font-size: 14px; margin: 0; margin-bottom: 10px; font-weight: bold; font-style: italic;">Join Our Mailinglist</h3>
        <p style="padding-left: 10%; margin-bottom: 10px; font-size: 12px; line-height: 1.5em;">Find out first. Get our emails for info on new items, sales and more</p>
        <div style="padding-left: 10%; margin-bottom: 10px;">
          <div id="nieuwsbrief" style="width: 90%;">
            <form style="margin-left: -4%;" action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="form-group d-flex justify-content-center mb-4 mb-md-0" style="vertical-align:top;">
                <input id="mce-EMAIL" class="email form-footer" type="email" style="border: 1px solid; padding: 14px; background-color: white;" name="EMAIL" placeholder="Your e-mail" value="" required="required" />
                <button id="mc-embedded-subscribe3" style="margin-left: -30px; margin-top: 0; type="submit" name="subscribe" value=""><img src="~/Themes/v1/Content/images/arrow.svg" /></button>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0713301c8224b9979b17bdd9b_0e2ea9797e" tabindex="-1" value=""></div>
              </div>
            </form>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
          </div>
          <div id="nieuwsbrief-msg" style="display:none;">
            Thank you for subscribing!
          </div>
        </div>
        
        @* sosmed *@
        <div class="row m-0" style="padding-left: 10%;">
          <a class="mr-3" href="//www.instagram.com/lechateauliving"><img src="~/Themes/v1/Content/images/ig.svg" /> </a>
          <a class="mr-3" href="https://www.facebook.com/Le-Chateau-Living-991580694226006/?hc_ref=PAGES_TIMELINE"><img src="~/Themes/v1/Content/images/fb.svg" /> </a>
          <a class="mr-3" href="https://id.pinterest.com/lechateaulivingindonesia/_saved/"><img src="~/Themes/v1/Content/images/pinterest.svg" /> </a>
          <a href="https://www.youtube.com/channel/UCw6PTiH_mAbY1LAaSW7Jfvg/featured"><img src="~/Themes/v1/Content/images/yt.svg" /></a> 
        </div>
      </div>
    </div>
    <div class="row m-1 mt-4" style="display: flex; justify-content: flex-start; padding-left: 3% !important;">
      <div class="col-12 col-md-4">
        <p> &#9400; Le Chateau Living <script>document.write(new Date().getFullYear())</script>. Site by <a href="http://flitts.com" target="_blank">flitts</a></p>
      </div>
    </div>
  </div>

  @* mobile *@
  <div class="container d-block d-md-none hidden-md hidden-lg" style="height: auto;">
    <div id="accordionLeftMenuFooter" aria-multiselectable="true">
      @* mailing list *@
      <div class="row m-1 mt-4" style="display: flex; justify-content: center; align-items: center;">
        <a href="~/"><img src="~/Themes/v1/Content/images/logo.svg"/></a>
      </div>
      <div class="row m-0 p-0 mt-3" style="display: flex; justify-content: center; align-items: center;">
        <h3 style="font-size: 16px; font-style: italic; font-weight: bold;">Get in touch with us for any enquiry</h3>
      </div>
      <div class="row m-0 p-0 mt-3" style="display: flex; justify-content: center; align-items: center;">
        <a href="https://wa.me/628111459933" style="font-size: 16px; font-weight: bold; text-decoration: none; color: black;"><img src="~/Themes/v1/Content/images/wa.svg" />&nbsp;+62 811-1459-933</a> 
      </div>

      @* service *@
      <div class="row px-3 m-0 my-3">
        <h3 style="font-size: 16px; font-style: italic; font-weight: bold; margin: 0;">Services</h3>
      </div>

      <div class="row px-3 m-1">
        <div class="col-6 col-sm-6 col-md-6 m-0 p-0">
          @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
          {
            <a  href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a> <br>
          }
        </div>

        <div class="col-6 col-sm-6 col-md-6 m-0 p-0">
          @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
          {
            <a  href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a> <br>
          }
        </div>
      </div>

      @* mailing list *@
      <div class="row px-3 m-0">
        <div class="col-12 p-2">
          <h3 class="my-3" style="font-size: 16px; font-style: italic; font-weight: bold; margin: 0;">Join Our Mailinglist</h3>

          <p style="font-size: 12px; width: 100%; line-height: 1.5; margin-top: 10px; margin-bottom: 10px;">Find out first. Get our emails for info on new items, sales and more</p>
          <div id="nieuwsbrief" style="margin-left: 8px; width: 90%; padding-bottom: 10px;">
            <form style="margin-left: -6%;" action="" method="post" id="mc-embedded-subscribe-form-mobile" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="form-group d-flex justify-content-center mb-4 mb-md-0" style="vertical-align:top;">
                <input id="mce-EMAIL-mobile" class="email form-footer" type="email" style="border: 1px solid; padding: 16px; background-color: white;" name="EMAIL" placeholder="Your e-mail" value="" required="required" />
                <button id="mc-embedded-subscribe2" style="margin-left: -30px; margin-top: 0; type="submit" name="subscribe" value=""><img src="~/Themes/v1/Content/images/arrow.svg" /></button>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0713301c8224b9979b17bdd9b_0e2ea9797e" tabindex="-1" value=""></div>
              </div>
            </form>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
          </div>
        </div>
      </div>
      
      @* sosmed *@
      <div class="row px-3 m-0" style="margin-top: -25px !important;">
        <div class="col-12 p-2">
          <a class="mr-3" href="//www.instagram.com/lechateauliving"><img src="~/Themes/v1/Content/images/ig.svg" /> </a>
          <a class="mr-3" href="https://www.facebook.com/Le-Chateau-Living-991580694226006/?hc_ref=PAGES_TIMELINE"><img src="~/Themes/v1/Content/images/fb.svg" /></a> 
          <a class="mr-3" href="https://id.pinterest.com/lechateaulivingindonesia/_saved/"><img src="~/Themes/v1/Content/images/pinterest.svg" /></a> 
          <a href="https://www.youtube.com/channel/UCw6PTiH_mAbY1LAaSW7Jfvg/featured"><img src="~/Themes/v1/Content/images/yt.svg" /></a> 
        </div>
      </div>
      
      <div class="row px-3 m-1 mt-4">
        <p style="padding-left: 7px;"> &#9400; Le Chateau Living <script>document.write(new Date().getFullYear())</script>. | Site by <a href="http://flitts.com" target="_blank">flitts</a></p>
      </div>
    </div> 
  </div>
</footer>
   

<script>
  $("#mc-embedded-subscribe").click(function () {
    $("#nieuwsbrief").css("display", "none");
    $("#nieuwsbrief-msg").css("display", "block");
  });
  $("#mc-embedded-subscribe2").click(function () {
    $("#nieuwsbrief").css("display", "none");
    $("#nieuwsbrief-msg").css("display", "block");
  });
  $("#mc-embedded-subscribe3").click(function () {
    $("#nieuwsbrief").css("display", "none");
    $("#nieuwsbrief-msg").css("display", "block");
  });

  $("#mc-embedded-subscribe-mobile").click(function () {
    $("#nieuwsbrief").css("display", "none");
    $("#nieuwsbrief-msg").css("display", "block");
  });
</script>

